@font-face {
    font-family: "M PLUS Rounded 1c";
    src: url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
}

html {
    margin:0;
    padding:0;
}
body {
    width:100vw;
    height:100vh;
    background-color: #fff;
    background-image:url("/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#333;
}

@media screen and (max-width:840px) {
    .page {
        width: 80vw;
        margin: 0 auto;
    }
    img.siteTitle {
        width:60vw;
    }

}

@media screen and (min-width:841px) {
    .page {
        width: 800px;
        margin: 0 auto;
    }
    img.siteTitle {
        width:480px;
    }

}


h1.title {
    color: #eee;
    padding:20px 0;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

h2.podcastNumber {
    margin-bottom:0;
    font-weight: bold;
    font-size: 1em;
}
h2.podcastTitle {
    margin:0;
    padding: 0px 0px 20px 0px;
    font-weight: bold;
    font-size: 2em;
}

section.section {
    background:rgba(255,255,255,0.8);
    border-radius:10px;
    padding-bottom:40px;
}
.anchor {
    text-align: center;
}

.podcasts {
    margin:20px;
    padding: 40px;

}

.description {
    margin: 20px 0;
}

.notes {
    padding: 20px 0;
}


